<div class="site-nav">
  <nav class="site-nav__bar site-nav__bar--primary">
    <a class="site-nav__brand" href="{{sitedata.site.baseurl}}/">
      <img class="site-nav__logo" src="{{sitedata.site.baseurl}}/doc/images/brand/dynatrace-logo.svg" alt="dynatrace logo" width="146" height="26"/>
    </a>
    <ul class="site-nav__list site-nav__list--productscope js-site-nav__list">
      {{#each sitedata.nav.entries}}
      <li class="site-nav__item site-nav__item--productscope">
        <a class="site-nav__link site-nav__link--productscope" href="{{../sitedata.site.baseurl}}{{url}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    <button id="menu-toggle" class="site-nav__menutoggle">Menu</button>
  </nav>
</div>
