<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}{{#if title}} | {{/if}}Groundhog</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{{sitedata.site.baseurl}}/assets/images/favicon.ico">
    <link rel="stylesheet" href="{{sitedata.site.baseurl}}/css/main.css" charset="utf-8">
    <link rel="stylesheet" href="{{sitedata.site.baseurl}}/css/base/fonts.css" charset="utf-8">
    <link rel="stylesheet" href="{{sitedata.site.baseurl}}/assets/style/syntax.css" charset="utf-8">
    <link rel="stylesheet" href="{{sitedata.site.baseurl}}/assets/style/site.css" charset="utf-8">
    {{> headmeta }}
  </head>
  <body {{#if theme}}class="{{theme}}"{{/if}}>
    {{> navigation}}
    {{#block 'breadcrumbs'}}
      {{#unless firstBreadcrumbEntry}}
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{sitedata.site.baseurl}}/">Main</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__last">{{title}}</span>
        </li>
      </ul>
      {{else}}
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__last" href="{{sitedata.site.baseurl}}/">Main</span>
        </li>
      </ul>
      {{/unless}}
    {{/block}}

    {{#block 'area'}}
    <div class="area">
      {{#block 'sidebar'}}
      {{/block}}
      {{#block 'main'}}
      <div class="layout">
        {{> header}}
        <main class="island {{#if hasSidebar}} island--connected{{/if}}">
          {{{contents}}}
        </main>
      </div>
      {{/block}}
    </div>
    {{/block}}
    {{> footer}}
    {{> ga}}
    {{> structureddata}}
  </body>

</html>
